@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    background: linear-gradient(to right, #0F2027, #203A43, #2C5364);
    font-family: 'Roboto Mono', sans-serif;
}

/* Se realiza el diseño del formulario por medio del selector ID */
#formRegistro{
    width: 300px;
    margin: 20vh auto  0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

/* Se realiza la regla de la etiqueta H1 */
#formRegistro h1{
    color: #0F2027;
    text-align: center;
}

/* Se realiza la regla para el botón: Registrar aprendiz */
#formRegistro button{
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color:  rgb(41,57,194);
    border: none;
    border-radius: 4px;
    font-family: 'Roboto Mono', sans-serif;
}

/* Regla general para los contenedores: INPUT-CONTROL */
.input-control{
    display: flex;
    flex-direction: column;
}

/* Se realiza el diseño de los INPUT */
.input-control input{
    border: 2px solid #F0F0F0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    font-family: 'Roboto Mono', sans-serif;
}

.input-control input:focus{
    outline: 0;
}

.input-control.success input{
    border-color: #09C372;
}

.input-control.error input{
    border-color: #FF3860;
}

.input-control .error{
    color: #FF3860;
    font-size: 9px;
    height: 13px;
}







