@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background: url(../img/bg.jpeg) no-repeat center top;
    background-size: cover;
}

.login-box{
    width: 320px;
    height: 420px;
    background: black;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-box .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input{
    width: 100%;
    margin-bottom: 20px
}

.login-box input[type="text"],
.login-box input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #1384DE;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}
.login-box input[type="submit"]:hover{
    cursor: pointer;
    background: #FFC107;
    color: blue;
}

.login-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.login-box a:hover{
    color: white;
}

p{
    text-align: right;
    text-decoration: none;
    font-size: 9px;
    line-height: 20px;
    color: darkgray;
}